{
  "presets": ["@babel/env", "@babel/typescript"],
  "plugins": [
    "@babel/plugin-proposal-numeric-separator",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "ignore": [
    "**/__tests__", // ignore the whole test directory
    "**/*.test.js", // ignore test files only
    "**/*.test.ts" // ignore test files only
  ]
}
